{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Imagine It! - Sensory bins</title>
    <link href="{% static "site/css/styles.css" %}" rel="stylesheet" >
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" >
    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}" ></script>
  </head>
  <body>
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center m-5">
          <img class="img-fluid" src="{% static "images/logo.png" %}" alt="logo" class="img-fluid" ><br/>
          <!-- <h2 class="h2-subtitle">CREATIVITY IS ONLY THE BEGINNING</h2> -->
        </div>
      </div>
      <div class="row d-flex align-items-center mt-5 block-about">
        <div class="col-6 p-0">
          <img class="img-fluid" src="{% static "images/family.png" %}" alt="logo" class="img-fluid" >
        </div>
        <div class="col-6 text-center">
          <p>WHERE FAMILY COMES TOGETHER AND CHILDREN TAKE HOME THEIR SMILE</p>
          <a class="btn btn-about">ABOUT US</a>
        </div>
      </div>
      <div class="row d-flex align-items-center block-more">
        <div class="col-6 text-center">
          <p>BROWSE OUR ASSORTMENT OF STIMULATING SENSORY TREASURES</p>
          <a class="btn btn-see-more">SEE MORE ></a>
        </div>
        <div class="col-6 text-center p-0">
          <img class="img-fluid " src="{% static "images/inventory.png" %}" alt="logo" class="img-fluid" >
        </div>
      </div>
      <div class="row d-flex justify-content-around mt-5">
        <div class="col-lg-3">
          <img class="img-fluid " src="{% static "images/sea-top.png" %}" alt="logo" class="img-fluid" >
        </div>
        <div class="col-lg-3">
          <img class="img-fluid " src="{% static "images/sea-theme.png" %}" alt="logo" class="img-fluid" >
        </div>
        <div class="col-lg-3">
          <img class="img-fluid" src="{% static "images/fairy-garden.png" %}" alt="logo" class="img-fluid" >
        </div>
        <div class="col-lg-3">
          <img class="img-fluid" src="{% static "images/fairy-garden-side-profile.png" %}" alt="logo" class="img-fluid" >
        </div>
      </div>
    </div>
  </body>
</html>